# Dependencies
node_modules/
package-lock.json

# Build files
dist/
build/
.env

# Database files
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo